<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>All Companies</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>

    <body>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between">
            <a class="navbar-brand" href="/">
                <img class="navbar-brand rounded" src="pictures/logo.jpg" alt="logo" height="40">
            </a>
            <div class="navbar-nav mr-auto">
                <div class="navbar-nav">
                    <div class="nav-item">
                        <a class="nav-link" href="/">Main Page</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/all_companies">Companies</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/all_products">Products</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/all_industries">Industries</a>
                    </div>
                    <div class="nav-item">
                        <a class="nav-link" href="/new_company">Add Company</a>
                    </div>
                </div>
            </div>
            <div class="navbar-nav">
                <div class="nav-item">
                    <form class="form-inline" action="/search">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="search">
                        <label for="selection"></label>
                        <select class="form-control" id="selection" name="selection">
                            <option value="all">Everything</option>
                            <option value="companies">Companies</option>
                            <option value="products">Products</option>
                            <option value="industries">Industries</option>
                        </select>
                        <button class="btn btn-light ml-3" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <h2 class="text-center mb-3">All Industries (<span th:text="${allIndustries.size()}"></span>)</h2>
                    <div class="card-columns">
                        <div class="card bg-light" th:each="industry : ${allIndustries}">
                            <div class="card-body text-center">
                                <a th:href="@{/industry(industry_id=${industry.id})}">
                                    <h4 class="card-title" th:text="${industry.name}"></h4>
                                </a>
                                <p class="card-text" th:text="${industry.about}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </body>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>