<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Success</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>

    <body>
        <div id="nav"></div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="jumbotron pt-3 pb-3 bg-light">
                        <h1 class="text-center">Success!</h1>
                        <p class="text-center mt-3">Company <span th:text="${company.name}"></span> was successfully added</p>
                        <a class="text-center" th:href="@{/company(company_id=${company.id})}"><p>Go to Profile</p></a>
                        <a class="text-center" href="/"><p>Back to Main Page</p></a>
                    </div>
                </div>
                <div class="col-1"></div>
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="navbarLoader.js"></script>
</html>