<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>HibernateExample</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>

    <body>
        <div id="nav"></div>
        <div class="container mt-3">
            <div class="row">
                <div class="col"></div>
                <div class="timeline-container col-5 pt-3 pb-3 pr-4 bg-light">
                    <h2 class="text-center mt-4 mb-5">Recently added Companies</h2>
                    <ul id="company-timeline" class="timeline">
                        <li th:each="company : ${newestCompanies}">
                            <a th:text="${company.name}" th:href="@{/company(company_id=${company.id})}"></a>
                            <span class="float-right">
                                Added: <span th:id="'company'+${company.id}"><!--js-->loading...</span>
                            </span>
                            <p th:text="${company.about}"></p>
                        </li>
                    </ul>
                </div>
                <div class="col-1"></div>
                <div class="timeline-container col-5 pt-3 pb-3 pr-4 bg-light">
                    <h2 class="text-center mt-4 mb-5">Recently added Products</h2>
                    <ul id="product-timeline" class="timeline">
                        <li th:each="product : ${newestProducts}">
                            <a th:text="${product.name}" th:href="@{/product(product_id=${product.id})}"></a>
                            <span class="float-right">
                                Added: <span th:id="'product'+${product.id}"><!--js-->loading...</span>
                            </span>
                            <p th:text="${product.about}"></p>
                        </li>
                    </ul>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row">
                <div class="col"></div>
                <div class="col-11 py-3 px-5 bg-light">
                    <h2 class="text-center mt-4 mb-5">Industries</h2>
                    <div th:each="industry : ${industriesSortedBySize}">
                        <h5 class="text-center">
                            <a th:text="${industry.name}" th:href="@{/industry(industry_id=${industry.id})}"></a>
                            <span>(<span th:text="${industry.getCompanies().size()}"></span> companies in this industry)</span>
                        </h5>
                        <p th:text="${industry.about}"></p>
                    </div>
                 </div>
                <div class="col"></div>
            </div>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://momentjs.com/downloads/moment.js"></script>
    <script src="navbarLoader.js"></script>
    <script src="timelineOverflowHiding.js"></script>
    <script th:inline="javascript">

        /*[# th:each="company : ${newestCompanies}"]*/
        var companyId = "company"+"[(${company.id})]";
        var companyCreationDate = "[(${company.creationDate})]";
        document.getElementById(companyId).innerHTML = moment(companyCreationDate).fromNow();
        /*[/]*/

        /*[# th:each="product : ${newestProducts}"]*/
        var productId = "product"+"[(${product.id})]";
        var productCreationDate = "[(${product.creationDate})]";
        document.getElementById(productId).innerHTML = moment(productCreationDate).fromNow();
        /*[/]*/

    </script>

</html>