<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${company.name}"></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>

    <body>
        <h2 th:text="${company.name}"></h2>
        <p th:text="${company.about}"></p>
        <h2>All Products (<span th:text="${company.getProducts().size()}"></span>)</h2>
        <table>
            <thead>
            <th>Product</th>
            <th>Description</th>
            </thead>
            <tbody>
            <tr th:each="product : ${company.getProducts()}">
                <td th:text="${product.name}"></td>
                <td th:text="${product.about}"></td>
            </tr>
            </tbody>
        </table>
    </body>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</html>